@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CookieRun-Regular', sans-serif;
    text-align: center; /* 모든 텍스트를 중앙 정렬 */
}

header {
    text-align: center; /* 헤더 텍스트 중앙 정렬 */
}

section {
    text-align: center; /* 각 섹션의 텍스트 중앙 정렬 */
}
