/* 배너 이미지 크기 조정 */
.banner {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.banner-images {
    display: flex;
    animation: slide 10s infinite; /* 5초마다 이미지 교체 */
}

.banner-images img {
    width: 100%; /* 배너 이미지가 화면 크기에 맞게 100%로 조정 */
    height: auto; /* 높이는 비율에 맞게 자동으로 조정 */
    object-fit: cover; /* 이미지를 꽉 채우되 비율 유지 */
}

/* 이미지 슬라이드 애니메이션 */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
