@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CookieRun-Regular', sans-serif;
    text-align: center; /* 전체 텍스트 중앙 정렬 */
    margin: 0;
    padding: 0;
}

header {
    text-align: center; /* 중앙 정렬 */
    margin-bottom: 20px; /* 헤더와 다른 내용 간 간격 */
}

/* 버튼 스타일 */
.button {
    display: inline-block;
    padding: 12px 24px; /* 버튼 안 여백 */
    font-size: 18px;
    font-family: 'CookieRun-Regular', sans-serif;
    color: white;
    background-color: #00b075; /* 버튼 배경색 */
    border: none;
    border-radius: 10px; /* 둥근 모서리 */
    text-align: center;
    text-decoration: none; /* 링크 밑줄 제거 */
    cursor: pointer;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.button:hover {
    background-color: #45a049; /* 호버 시 배경색 */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 확대 */
}

/* 배너 스타일 */
.banner {
    width: 100%;
    margin-top: 20px;
}

.banner-images {
    display: flex;
    animation: slide 10s infinite; /* 5초마다 이미지 교체 */
    justify-content: center; /* 중앙 정렬 */
}

.banner-images img {
    width: 100%; /* 배너 이미지가 화면 크기에 맞게 100%로 조정 */
    max-width: 100%; /* 이미지 크기를 제한 */
    height: auto; /* 높이는 비율에 맞게 자동으로 조정 */
    object-fit: contain; /* 이미지가 화면 크기에 맞춰 크기 조정 */
}

/* 이미지 슬라이드 애니메이션 */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* 회사 소개와 문의 섹션에 flexbox로 텍스트 중앙 정렬 */
#about, #contact {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로 방향 중앙 정렬 */
    align-items: center; /* 가로 방향 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    min-height: 200px; /* 섹션의 최소 높이 설정 */
    margin: 20px 0;
}

#about h2, #contact h2 {
    margin-bottom: 10px;
}

/* 배경 그라디언트 텍스트 스타일 */
#about h2 {
    background: linear-gradient(to bottom, rgba(0, 238, 255, 1), rgba(0, 255, 98, 1));
    -webkit-background-clip: text;
    color: transparent;
}

/* 문의 글자 그라디언트 스타일 */
#contact h2 {
    background: linear-gradient(to bottom, rgba(200, 255, 0, 1), rgba(255, 149, 0, 1));
    -webkit-background-clip: text;
    color: transparent;
}
